<div class="row justify-content-evenly">
  <div class="card shadow-md col-sm-4 p-1" style="width: 18rem">
    <img src="/assets/images/default1.png" class="propImg" alt="..." />
    <div class="card-body p-2">
      <h3>{{ Property.Name }}</h3>
      <h4>{{ Property.Price }}</h4>
      <h5>{{ Property.Type }}</h5>
    </div>
  </div>
  <div class="card shadow-md col-sm-4 p-1" style="width: 18rem">
    <img src="/assets/images/default1.png" class="propImg" alt="..." />
    <div class="card-body p-2">
      <h3>{{ Property.Name }}</h3>
      <h4>{{ Property.Price }}</h4>
      <h5>{{ Property.Type }}</h5>
    </div>
  </div>
  <div class="card shadow-md col-sm-4 p-1" style="width: 18rem">
    <img src="/assets/images/default1.png" class="propImg" alt="..." />
    <div class="card-body p-2">
      <h3>{{ Property.Name }}</h3>
      <h4>{{ Property.Price }}</h4>
      <h5>{{ Property.Type }}</h5>
    </div>
  </div>
  <div class="card shadow-md col-sm-4 p-1" style="width: 18rem">
    <img src="/assets/images/default1.png" class="propImg" alt="..." />
    <div class="card-body p-2">
      <h3>{{ Property.Name }}</h3>
      <h4>{{ Property.Price }}</h4>
      <h5>{{ Property.Type }}</h5>
    </div>
  </div>
</div>
